@import "markdown";
@import "animated";

:root {
  --header-width: 60px;
  --siderLeft-width: 250px;
  --siderRight-width: 250px;
}
:root {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
  --text-color-rich: #536b8f;
  --text-color-richer: #2a4772;
}
:root {
  --background: #fff;
  --background-rich: #f1f1f1;
  --background-richer: #cecece;
}
:root {
  --max-size: 16;
  --min-size: 11;
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc(
    var(--min-size) * 1px + var(--diff) * (100vw - 360px) / 1200
  );
}
html {
  font-size: var(--responsive);
}
#theme:checked ~ #root {
  --text-color-normal: hsl(0, 0%, 93%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-rich: hsl(209, 55%, 83%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);

  --background: #18191a;
  --background-rich: #303233;
  --background-richer: #000;
}

#root {
  color: var(--text-color-rich);
}

.btn {
  position: relative;
  &:before {
    position: absolute;
    top: -0.2em;
    left: -0.2em;
    right: -0.2em;
    bottom: -0.2em;
    content: "";
    background: currentColor;
    opacity: 0;
    border-radius: inherit;
    transition: opacity 0.15s ease-in;
  }
  &:hover:before {
    background: currentColor;
    opacity: 0.2;
  }
  &:active:before {
    transform: scale(1);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s;
  }
}
.btn:focus {
  outline: none;
}
.btn-2 {
  background: #f1f1f1;
  border-width: 2px;
  border-color: #ffffffbf;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
.btn-2:hover {
  box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
    0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
}
.btn-2:focus {
  outline: none;
}
.btn-2:active {
  border-color: transparent;
  background: #f1f1f1;
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
    -10px -10px 10px #ffffff inset;
}

@keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  50% {
    width: 60px;
    height: 240px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  100% {
    width: 480px;
    height: 240px;
    background: #fafafa;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
  }
}
.text-color {
  color: var(--text-color-normal);
}
.text-color-rich {
  color: var(--text-color-rich);
}
.background {
  background: var(--background);
}
.background-rich {
  background: var(--background-rich);
}
.background-richer {
  background: var(--background-richer);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border: 3px solid var(--background-rich);
}

.scrollable {
}
.scrollable::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: var(--background);
  // border: 3px solid var(--background-rich);
}
.scrollable.small::-webkit-scrollbar {
  width: 10px;
}
.scrollable:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scrollable::-webkit-scrollbar {
  background-color: transparent;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .scrollable {
    background-color: rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
    /* uncomment following line to see the trick in actions */
    /* -webkit-text-fill-color: transparent; */
    transition: background-color 0.8s;
  }
  .scrollable:hover {
    background-color: rgba(0, 0, 0, 0.18);
  }
  .scrollable::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  .scrollable::-webkit-scrollbar-track {
    display: none;
  }
  .scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
  }

  .small.scrollable::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
#root {
  transition: all 0.7s linear;
}
.ReactSnap {
  opacity: 0;
}
